<%= render partial: "shared/second_navbar", locals: { title: "LOG IN" } %>
<% if notice %>
  <p class="alert alert-success"><%= notice %></p>
<% end %>
<% if alert %>
  <p class="alert alert-danger"><%= alert %></p>
<% end %>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <section class="container">
    <div class="my-3">
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "text-input", placeholder: "Email" %>
    </div>

    <div>
      <%= f.password_field :password, class: "text-input", placeholder: "Password" %>
    </div>
    <br>

    <%= render "devise/shared/links" %>
  </section>
  
  <div class="bottom-container position-fixed bottom-0 w-100">
    <div class="inner-bottom-container text-center">
      <%= f.submit "LOG IN", class: "bottom-btn new-btn" %>
    </div>
  </div>
<% end %>