<%= render partial: "shared/second_navbar", locals: { title: "TRANSACTIONS" } %>
<% if notice %>
  <p class="alert alert-success"><%= notice %></p>
<% end %>
<% if alert %>
  <p class="alert alert-danger"><%= alert %></p>
<% end %>
<section class="container">
  <%= render partial: "shared/category", locals: { category: @category } %>
  <br>
  <% @transacs.each do |transac| %>
    <%= render partial: "shared/transac", locals: { transac: transac } %>
  <% end %>
</section>

<div class="bottom-container position-fixed bottom-0 w-100">
  <div class="inner-bottom-container text-center">
    <%= link_to "NEW TRANSACTION", new_transac_path, class: "bottom-btn" %>
  </div>
</div>